<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag 'style' %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <div class="container">
      <header class="global-header">
        <a class="global-header__logo" href="/"><img src="/images/logo.jpg"></a>
        <h2 class="global-header__title">トリサシ日記</h2>
      </header>
      <div class="content" role="main">
        <article class="post post--single">
          <p class="post__time"><%= current_article.date.strftime('%Y.%m.%d') %></p>
          <h2 class="post__title"><%= current_article.title %></h2>
          <section class="post__body">
          <%= yield %>
          </section>
        </article>
      </div>
    
    </div>
    <footer class="global-footer">
      <p class="global-footer__copy">torisashi.com</p>
    </footer>
  </body>
</html>
